/*.charts {
  display: flex;
  justify-content: center;
  width: 85%;
}*/

.charts {
  width: 85%;
  margin: auto;
  /* background-color: rgba(122, 106, 143, 0.596); */
}

@media (max-width: 770px) {
  .container {
    width: 100%;
  }
}